<div class="col-md-8 col-md-offset-0">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-right">
         <h4><%= link_to ('<span class="glyphicon glyphicon-remove"> </span> ' ).html_safe, root_path %></h4>
      </div>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
        <h1>Trainer</h1>
      <%= render 'form' %>
    </div>
  </div>
</div><br>
