<% for trainer in @trainers %>
<p>
  <strong>Name:</strong>
  <%= trainer.name %>
  </p>
 <p>
  <strong>Location:</strong>
  <%= trainer.geography %>
  </p>
  <p>
  <strong>Experience:</strong>
  <%= trainer.experience %>
  </p>
  <p>
  <strong>Rating:</strong>
  <%= trainer.rating %>
  </p>
<% end %>

 

