<footer class ="footer navbar-fixed bottom">
<div class="menu-footer">
     <div class="text">
     <div class="text-right">
          <h4>Information</h4>

           <%= link_to image_tag("facebook.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     <%= link_to image_tag("twiiter.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     <%= link_to image_tag("instagram.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     
      </div></div></div>
    </footer>

<style>
#footer {
    clear: both;
    height: 320px;
    color:#ccc;
    font-size:12px;
    position:relative;
    z-index: 10;
    margin-top: -6em;
    margin-right: -5.3em;
    margin-left: -5.2em;
    background-color:#31353a;
}
</style>
<style>
   div.text-center{
     float: center;

}
div.text-right{
     float: right;

}
div.text{
     margin-left: 75px;
     margin-right: 75px;
     margin-bottom: 10px;
     

}

div.image{
  padding-top: 20px;
     margin-left: 70px;
}

  </style>
