<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
 <h7 style="position: relative;top: 0px;font-weight:bold;color:white;"> @ All rights reserved</h7>
   
 
</div>
<style>
  #footer {
    clear: both;
    height: 90px;
    color:#ccc;
    font-size:12px;
    position:relative;
    z-index: 10;
    margin-top: -3em;
    background-color:black;
    top: 305px;
  }
 
  div.text-center{
    float: center;
  }
  div.text-right{
     float: right;
  }
  div.text{
     margin-left: 75px;
     margin-right: 75px;
     margin-bottom: 10px;
  }

  div.image{
    padding-top: 20px;
    margin-left: 70px;
  }
</style>