<footer class ="footer navbar-fixed bottom">
    <div class="content">
    <div class="commonrow">
       <ul class="list-media-footer">
      
      </ul>
    </div>
    <div class="menu-footer">
       <div class="text-right">
     <div class="text">
          <h4>Information</h4>

     <%= link_to image_tag("facebook.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     <%= link_to image_tag("twiiter.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     <%= link_to image_tag("instagram.png", alt: "File Name Fancy", size: "2150*2150"), root_path %>
     
      </div>
    </div></div></div></footer>
<style>
#footer {
    clear: both;
    height: 300px;
    color:#ccc;
    font-size:12px;
    position:relative;
    z-index: 10;
    margin-top: -3em;
    margin-right: -5.3em;
    margin-left: -5.2em;
    background-color:#31353a;
}
</style>
<style>
   div.text-center{
     float: center;

}
div.text{
     margin-left: 75px;
     margin-right: 75px;
     margin-bottom: 10px;
     

}
   div.text-right{
     float: right;
   
}
div.image{
  padding-top: 20px;
     margin-left: 70px;
}

  </style>
